@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');/* Properties Global*/
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,100&display=swap');
#content {
    max-width:      1600px;
    margin:         0 auto;
}
/*Global properties*/
* {box-sizing: border-box}

.mySlides {
  display: none
}
img {
  vertical-align: middle;
}

/*Navigation*/
.NavM {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    justify-items: center;
    align-items: center;
    border-bottom: 3px solid #000;
}
  
  .NavM a {
    padding: 1em;
    color: #000;
    transition: all 1s ease-out;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }
  .NavM a:hover {
    text-decoration: none;
    background-color: rgba(21, 20, 23, 0.54);
    color: #fff;
  }  
    
    .logo {
        width:       150px;
    }
    #logo_link{
        padding-top: -5px;
       
        justify-self: center;
        align-self: center;
    }

    /* Footer Section*/
footer {
  background-color:   #2D2928;
  padding:            25px 50px;
  margin-top:         200px;
  display:            flex;
  justify-content:    space-around;
  align-items:        center;
  font-family:'Saira', sans-serif ;
}
footer .social img{
  padding-top:        5px;
  border-radius: 50%;
}
footer h3 {
  color:            #fff;
}


footer a {  
  color:             #fff;
  text-decoration:     none;
}

footer  a:hover {
  background-color: #fff;
  color:            #000;
  transition:         all 1s ease-out;
}
